.tagindex-c {
	padding: 1rem;
    border-radius: 12px;
}

.tagindex-h  {
	display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.tagindex-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1rem ;
	margin: 1rem 1rem;
	border-bottom: 1px solid #5c93bb2b;
}

.tagindex-row:first-child {
	padding-top: 1rem;
}

.tagindex-row-right {
	display: flex;
	align-items: center;
}

.tag {
	width: fit-content;
    border-radius: 4px;
    padding: 4px 12px;
    transition: all .15s ease;
    font-size: 13px;
    line-height: 24px;
	background: #e0e0e0;
    box-shadow: 7px 7px 14px #bababa, -7px -7px 14px #ffffff;
}

.tagindex-c .uil {
	color:#acbcc7;
	font-size: 1.2rem;
}

.tagindex-title {
	color: #6e7b85;
	font-size: 0.8rem;
}

.tagindex-numbar {
	color: #000000d1;
	font-weight: 900;
	margin-right: 1rem;
}

.taglist-h {
	width: 90%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 12px;
    background: #e0e0e0;
}

.taglist-i {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
}

.taglist-button {
	background-color: #fff;
    border: 1px solid #5c93bb2b;
    box-shadow: 0 2px 3px -2px #21253840;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
}

.taglist-button-on {
	background-color: #5c5c5c;
    border: 1px solid #5c93bb2b;
    color: #fdfdfd;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
}

.taglist-j {
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taglist-num {
	font-weight: 900;
}

.taglist-title {
	color: #6e7b85;
	font-size: 0.8rem;
}

.tags-follower {
	width: 90%;
    margin: 0 auto;
}

.taglist-order-nav {
	display: flex;
    align-items: center;
    font-size: .75rem;
    color: dimgray;
}

.taglist-order-nav div {
	border-right: 1px solid dimgray;
	padding: .5rem 1rem;
}

.taglist-order-nav div:last-child {
	border-right: none;
}

.active-taglist-order-nav {
	color: black;
	font-weight: bold;
}

@media screen and (max-width: 750px){
	.taglist-order-nav {
		font-size: .3rem;
	}
}
